@import url(./mobile-only.css);
@import url(./pc-only.css);
@import url(./elevation.css);
@import url(./anime.css);
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    font-family: "Google Sans", sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --app-theme-light: #ffebdd;
    --app-theme-color: #b0510c;
    --app-overlay-tone: #fc7310;
    --app-theme-light-tone-2: #ffcba5;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--app-theme-light);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.nav-right {
    margin-left: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-select select {
    background-color: transparent;
    outline: 0px;
    border: 0px;
    font-weight: bold;
    text-align: center;
    color: var(--app-theme-color);
}

.custom-select select:hover {
    outline: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero {
    align-self: center;
    position: relative;
}

.hero .content {
    width: 100%;
    height: 100%;
    background-color: var(--app-theme-color);
    border-radius: 20px;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    top: 0px;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: var(--app-overlay-tone);
}

.hero-body {
    top: 0px;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex: 2;
}

.hero-body h1,
p {
    color: white;
}

.hero-button {
    border-radius: 55px;
    background-color: var(--app-theme-light-tone-2);
    color: var(--app-theme-color);
    text-align: center;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}

.hero-button:active {
    outline: 0;
}

.touchable-opacity:hover {
    opacity: 0.5;
    transition: 0.3s ease-out;
}

.filter-box {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.09);
    min-height: 200px;
    z-index: 1000;
}

.filter-box p {
    color: var(--app-theme-color);
    margin: 10px 0px;
}

.filter-area {
    position: absolute;
    bottom: -100px;
    z-index: 1000;
    width: 100%;
}

.menu {
    display: inline-block;
    color: var(--app-theme-color);
    font-weight: bold;
    text-transform: uppercase;
}

.menu li {
    list-style: none;
    display: inline;
    cursor: pointer;
}

.select-theme-2 {
    border: solid 2px var(--app-theme-color);
    padding: 0px 20px 0px 0px;
    margin-top: 10px;
    border-radius: 5px;
}

.select-theme-2 select {
    width: 100%;
}

.footer {
    display: flex;
    background-color: var(--app-theme-color);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    justify-content: center;
}

.app-logo {
    text-decoration: none;
}

.app-logo img {
    object-fit: cover;
}

.blanket {
    position: fixed;
    top: 60px;
    left: 0px;
    height: 6%;
    background: #fff7f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox {
    border: solid 2px var(--app-theme-color);
    width: 100%;
    display: block;
    margin: 6px 0px;
}

.textbox:active,
.textbox:focus,
.custom-btn:active,
.custom-btn:focus {
    outline: 0;
}

.custom-btn {
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
}