@media only screen and (min-width: 768px) {
    .nav-container {
        padding: 10px 40px;
    }
    .custom-select select {
        font-size: 18px;
        padding: 15px;
    }
    .app-logo img {
        height: 50px;
        width: 100px;
        margin-bottom: -14px;
    }
    .menu li {
        margin: 0px 6px;
    }
    .pc-vanish {
        display: none !important;
    }
}