@media only screen and (min-width: 768px) {
    .nav-container {
        padding: 10px 40px;
    }
    .custom-select select {
        font-size: 18px;
        padding: 15px;
    }
    .app-logo img {
        height: 50px;
        width: 100px;
        margin-bottom: -14px;
    }
    .menu li {
        margin: 0px 6px;
    }
    .pc-vanish {
        display: none !important;
    }
    .hero {
        width: 90%;
        height: 100%;
    }
    app-hero {
        height: 60%;
    }
    .page {
        padding: 90px 0px;
    }
    .hero-image {
        border-radius: 20px;
    }
    .hero-overlay {
        border-radius: 20px;
    }
    .hero-body {
        padding: 40px 60px;
        align-items: center;
    }
    .hero-body h1 {
        font-size: 92px;
        font-weight: 500;
    }
    .hero-body p {
        font-size: 24px;
    }
    .hero-button {
        padding: 15px 60px;
        font-size: 18px;
    }
    .filter-area {
        padding: 0px 15%;
    }
    .filter-box {
        padding: 20px 35px;
    }
    .footer {
        padding: 20px 10%;
    }
    .footer p {
        font-size: 18px;
    }
    .footer .email {
        margin: 0px 60px;
    }
    .form {
        padding: 40px;
        width: 70%;
        height: 60%;
        border-radius: 15px;
    }
    .textbox {
        padding: 15px 30px;
        font-size: 16px;
        color: var(--app-theme-color);
    }
    .custom-btn {
        padding: 15px 20px;
        font-size: 14px;
    }
    .page-title {
        font-size: 3.2rem;
    }
    .l-title {
        font-size: 5.2rem;
    }
    .l-filter-edits {
        margin-top: 15px;
        width: 50%;
        border-radius: 10px !important;
    }
    .l-filter-edits h2 {
        color: var(--app-theme-color);
    }
    .l-subtext {
        font-size: 23px;
        text-align: center;
    }
    .chart-area {
        margin: 0px 10%;
        margin-top: 160px;
    }
    .chart-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .chart-container div {
        width: 30vw;
        height: 30vw;
        margin-left: 30px;
    }
    .after-hero {
        margin-top: 10%;
        margin: 10% 15%;
    }
    .lean-card {
        width: 100%;
        border-radius: 5px;
    }
    .lean-card .left {
        padding: 40px 35px;
    }
    .lean-card .right {
        height: 100%;
        background: #01ad6f;
        padding: 30px 60px;
        cursor: pointer;
    }
    .right-angle {
        font-size: 90px !important;
        color: white;
    }
    .lean-card .right-img {
        margin-left: auto;
        height: 100%;
        width: 150px;
        object-fit: contain;
        margin-right: 20px;
    }
    .loader em {
        font-size: 60px;
    }
    .space {
        margin-top: 15vh;
    }
    .person {
        height: 150px;
        width: 160px;
        object-fit: cover;
    }
}